.sign-in {
    width: 30vw;
}

.custom-buttons {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .sign-in {
        width: 100vw;
    }

    .custom-buttons {
        flex-direction: column;
    }
}