.DropDownMenu {
    padding: 2rem 0;
}

.DropDownMenu-links {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DropDownMenu-link {
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0 2px;
    text-transform: uppercase;
    transform: scale(1);
    transition: all .2s;
    &:hover {
        color: #000;
        transform: scale(.95);
        transition: all .2s;
    }
}