.directory-menu {
    display: flex;
}

@media only screen and (max-width: 320px) {
    .directory-menu {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .directory-menu {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .directory-menu {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .directory-menu {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .directory-menu {
        display: none;
    }
}
@media (max-width: 1024px) {
}
@media (max-width: 1200px) {
}
