@import "../../assets/styles/breakpoints";

.directory-menu {
    display: flex;
}

@media only screen and (max-width: 320px) {
    .directory-menu {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .directory-menu {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .directory-menu {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .directory-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media only screen and (max-width: 1200px) {
}
