.add-to-cart-btn {
    position: absolute;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    width: 90%;
    height: 12%;
    top: 80%;
    left: 50%;
    border: none;
    opacity: .8;
    transform: translate(-50%, -50%);
    cursor: pointer;
}