@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoints";

@import "./mobile/1024.homepage.scss";

.showcase {
    display: flex;
    justify-content: space-around;
    height: 88vh;
    align-items: center;
}

.greetings-div {
    line-height: 1;
    text-align: left;
}

.greetings {
    font-size: 2.5rem;
}

.title {
    font-size: 3.5rem;
    line-height: 1;
    color: $primary-color;
}

.collection-btn {
    padding: 0.9rem 1.2rem;
    border: none;
    margin: 16px 0;
    cursor: pointer;
    font-size: 1rem;
    background-color: $secondary-color;
    transition: all 0.2s;
    transform: scale(1);

    & a {
        color: #fff;
    }

    &:hover {
        color: #fff;
        transition: all 0.2s;
        transform: scale(0.9);
        background-color: rgb(0, 0, 0);
    }
}

.about-section {
    display: flex;
    justify-content: space-around;
    background-color: $primary-color;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.about-paragraph {
    p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #ffffff;
    }
    width: 80%;
}

.about-sofa {
    width: 700px;
    height: auto;
}

.identify-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;

    .identify-info {
        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #e0ab78;
        }
        p {
            width: 75%;
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }
}

.iframe {
    width: 100%;
    height: 60%;
}

// @media only screen and (max-width: map-get($breakpoints, "small-phone")) {
//     .about-sofa {
//         width: 200px;
//     }
// }
@media only screen and (max-width: map-get($breakpoints, "large-phone")) {
    .about-sofa {
        width: 200px;
        // height: auto;
    }

    .about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .about-paragraph {
        p {
            font-size: 1.2rem;
            line-height: 1.5;
            color: #ffffff;
            text-align: center;
        }
        width: 100%;
    }
}
